:root {
  --terminal-bg: #131921;
  --terminal-text: #FF9900;
  --terminal-border: #444444;
  --terminal-header-bg: #333333;
  --terminal-input: #ffffff;
  --terminal-prompt: #FF9900;
}

body {
  background-color: var(--terminal-bg);
  font-family: "Courier New", Courier, monospace;
  color: var(--terminal-text);
}

.terminal-container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: var(--terminal-bg);
  border: 2px solid var(--terminal-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.terminal-header {
  background-color: var(--terminal-header-bg);
  padding: 10px;
  border-bottom: 2px solid var(--terminal-border);
  color: var(--terminal-text);
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.terminal-messages-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.terminal-message {
  margin-bottom: 5px;
}

.terminal-prompt {
  color: var(--terminal-input);
}

.terminal-text {
  color: var(--terminal-text);
}

.terminal-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 2px solid var(--terminal-border);
}

.terminal-input {
  flex: 1;
  background-color: transparent;
  color: var(--terminal-input);
  border: none;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  caret-color: var(--terminal-input);
}

.terminal-input::placeholder {
  color: var(--terminal-input);
  opacity: 0.6;
}
